{% extends "layout.html" %} {% block body %}
<h1>Control panel</h1>
<hr />
<h3>Well come {{ request.user.username }}</h3>
<hr />
<a href="/articles/addarticle" class="btn btn-danger"> Add article </a>
<br />
<br />
{% if articles %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>

      <th scope="col">Author</th>

      <th scope="col">Date</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
  </tbody>

  <tbody>
    {% for article in articles %}
    <tr>
      <th scope="row">{{ article.id }}</th>

      <td>
        <a href="/articles/article/{{ article.id }}">{{ article.title }} </a>
      </td>
      <td>{{ article.author}}</td>
      <td>{{ article.created_date }}</td>
      <td>
        {% comment %}
        <a href="/articles/update/{{ article.id }}" class="btn btn-success">
          Update</a
        >
      </td>
      <td>
        <a href="/articles/delete/{{ article.id }}" class="btn btn-danger">
          Delete</a
        >
        {% endcomment %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-danger">You have not any article</div>
{% endif %} {% endblock body %} {% else %}
